@import "tailwindcss";

/* Custom breakpoint for extra small devices */
@layer utilities {
  @media (min-width: 480px) {
    .xs\:block {
      display: block !important;
    }
  }
  .xs\:block {
    display: none;
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
